* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 80%;
}

.col {
    text-align: center;
    float: left;
    width: calc(100%/3);
}

section{
    margin-top: 3rem;
}
/* classe di debug per testare le colonne*/
/*andra tolta poi prima di mandare il progetto */
.debug .col {
    height: 300px;
    background-color: red;
}

img{
    max-width: 100%;
    height: 200px;
}